@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom right, #1E9AFE , #60DFCD);
    overflow-y: auto;
}
.navbar{
    height: 10vh;
    width: 100%;
    background: #292c2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
}
.navbar ul li a:hover{
    font-size: 1.4rem;
    transition: all 0.5s;
}
Navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 10px; */
}
#submit{
    background: transparent;
    border: none;
}
.fa-magnifying-glass{
    color: rgb(15, 80, 124);
}
#search{
    display: inline-block;
    padding-left: 10px;
    margin-right: 5px;
    border: none;
    height: 5vh;
    width: 80%;
    border-radius: 5px;
    /* width: 50%; */
    background-color: rgba(255, 255, 255, 0.575)
}
.wrap{
    display:none;
}
#top{
    margin-top: 10px;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height:auto !important; /* cross-browser */
    min-height: 90%;
    height: 90%;
    display: grid;
    place-items: center;
    padding: 10px;
    /* margin-bottom: 20px; */
}
p{
    letter-spacing: 3px;
    font-size: max(1.5vw, 15px);
    font-weight: 10px;
    color: rgb(15, 80, 124);
}
#top p:last-child{
    padding: 2px;
    font-size: max(0.9vw, 10px);
    background-color: rgba(240, 248, 255, 0.685);
    border-radius: 10px;
}
#Temp{
    font-size: max(4vw, 50px);
    font-weight: bold;
    color: rgb(15, 80, 124);
}

#bottom{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
#bottom p{
    text-align: center;
    line-height: 60px;
    font-size: max(2vw, 16px);
}
img{
    max-width: 15%;
    min-width: 10%;
}
.container{
    width: 80vw;
    background: rgba(255, 255, 255, 0.400);
    backdrop-filter: blur;
    padding: 20px;
}
.ham{
    padding: 4px;
    display: none;
    color: rgba(255, 248, 248, 0.767);
}

@media only screen and (max-width: 768px) {
    Navbar{
        padding: 10px;
        height: 12vh;
        width: 100%;
        flex-direction: column;
    }
    #search_container{
        margin-top: 10px;
    }
    .ham{
        display: block;
    }
    .nav-links{
        opacity: 0;
        pointer-events: none;
    }
    .nav-links.open{
        pointer-events: all;
        height: 40vh;
        width: 100%;
        background-color: #292c2fce;
        color: white;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        top: 10vh;
        flex-direction: column;
        transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .nav-links.open li{
        margin: 18px 0px;
    }
  }